.vscode/
.ghc.environment.*
.history
dist-newstyle/
dist/
.stack-work/
coredb.dhall
coresum.dhall
corems.dhall
coremy.dhall
coreor.dhall
corepg.dhall
cores3.dhall
msdriver.dhall
mydriver.dhall
ordriver.dhall
pgdriver.dhall
s3driver.dhall
stack*.yaml.lock
.hie/
*.bundle
stan.html
.stack-work-profiling/